In [1]:
import pandas as pd
import numpy as np 
import sklearn
import re
from sklearn.feature_extraction.text import CountVectorizer

In [2]:
spam_data = pd.read_csv('spambase_data/spambase.data')

In [3]:
spam_data.head()

,0,0.64,0.64.1,0.1,0.32,0.2,0.3,0.4,0.5,0.6,...,0.40,0.41,0.42,0.778,0.43,0.44,3.756,61,278,1
0,0.21,0.28,0.50,0,0,0.28,0.21,0.07,0.00,0.94,...,0.00,0.132,0,0.372,0.180,0.048,5.114,101,1028,1
1,0.06,0.00,0.71,0,0,0.19,0.19,0.12,0.64,0.25,...,0.01,0.143,0,0.276,0.184,0.010,9.821,485,2259,1
2,0.00,0.00,0.00,0,0,0.00,0.31,0.63,0.31,0.63,...,0.00,0.137,0,0.137,0.000,0.000,3.537,40,191,1
3,0.00,0.00,0.00,0,0,0.00,0.31,0.63,0.31,0.63,...,0.00,0.135,0,0.135,0.000,0.000,3.537,40,191,1
4,0.00,0.00,0.00,0,0,0.00,0.00,1.85,0.00,0.00,...,0.00,0.223,0,0.000,0.000,0.000,3.000,15,54,1

In [4]:
def get_names(spam_names):
    strip = re.compile(r"(^\w+.):")
    column_names = []
    for val in spam_names.readlines():
        if strip.match(val):
            column_names.append(strip.match(val).groups(0)[0])
    return column_names

In [5]:

column_names = get_names(open('spambase_data/spambase.names'))
column_names.append('Spam')

In [6]:
new_data = spam_data
new_data.dropna
new_data.columns = column_names

In [7]:
new_data.head()

,word_freq_make,word_freq_address,word_freq_all,word_freq_3d,word_freq_our,word_freq_over,word_freq_remove,word_freq_internet,word_freq_order,word_freq_mail,...,char_freq_;,char_freq_(,char_freq_[,char_freq_!,char_freq_$,char_freq_#,capital_run_length_average,capital_run_length_longest,capital_run_length_total,Spam
0,0.21,0.28,0.50,0,0,0.28,0.21,0.07,0.00,0.94,...,0.00,0.132,0,0.372,0.180,0.048,5.114,101,1028,1
1,0.06,0.00,0.71,0,0,0.19,0.19,0.12,0.64,0.25,...,0.01,0.143,0,0.276,0.184,0.010,9.821,485,2259,1
2,0.00,0.00,0.00,0,0,0.00,0.31,0.63,0.31,0.63,...,0.00,0.137,0,0.137,0.000,0.000,3.537,40,191,1
3,0.00,0.00,0.00,0,0,0.00,0.31,0.63,0.31,0.63,...,0.00,0.135,0,0.135,0.000,0.000,3.537,40,191,1
4,0.00,0.00,0.00,0,0,0.00,0.00,1.85,0.00,0.00,...,0.00,0.223,0,0.000,0.000,0.000,3.000,15,54,1

In [8]:
from sklearn.cross_validation import train_test_split 

train, test = train_test_split(new_data, test_size=.4)

In [14]:
def make_sets(df, param='Column Name'):
    col = list(df.columns)
    train, test = train_test_split(df, test_size=0.4)
    col.remove(param)
    tr_dep = train[col]
    tr_non_dep = train[param]
    te_dep = test[col]
    te_non_dep = test[param]
    return tr_dep, tr_non_dep, te_dep, te_non_dep

tr_dep, tr_non_dep, te_dep, te_non_dep = make_sets(new_data, 'Spam')

In [15]:
from sklearn.naive_bayes import MultinomialNB


classifier = MultinomialNB()

In [17]:
classifier.fit(tr_dep, tr_non_dep)
classifier.score(te_dep, te_non_dep)

0.8168478260869565

In [24]:
class_score = round(classifier.score(te_dep, te_non_dep), 3)
print('This set is accurate {}% of the time'.format(class_score))

This set is accurate 0.817% of the time

###Functions to base automation off of
<!---
    
def combos(list_of_series):
    combos = []
    x = len(list_of_series) + 1
    for num in range(2,x):
        combos.append(list(itertools.combinations(list_of_series, num)))
        x -= 1
    return itertools.chain(*combos)

combos = combos(dependant_variable)

def regression_for(combo):
    combo = list(combo)
    df = final_data.loc[:, combo + ['Price']]
    df.dropna(inplace=True)
    input_data = df[combo]
    price = df['Price']
    regr = linear_model.LinearRegression()
    regr.fit(input_data, price)
    return regr, regr.score(input_data, price)


for combo in combos:
    regr, score = regression_for(combo)
    choices.append((combo, score))
                   
best = sorted(choices, key=lambda x: x[1])[-1]

print(best)
print('\n' + 50 * len(best) * '-' + '\n')
regr, score = regression_for(best[0])
print(regr.coef_, regr.intercept_)

-->